{% extends "layout.html" %}
{% block content %}

<div class="admining">
    <div class="container">
        <div class="heading-block">
            <div>
                <h1>Welcome Admin. <br><br><span style="color: #0f1923;">Log In</span></h1>
            </div>
            <div class="voyager-logo">
                <img src="https://thumbs.dreamstime.com/z/sample-stamp-sample-stamp-sign-icon-editable-vector-illustration-isolated-white-background-123950438.jpg" alt="">
            </div>

        </div>

        <div class="signup-form">
            <form method="POST" action="">
                {{ form.hidden_tag() }}

                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control ") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}

                {{ form.submit(class="btn btn-outline-info") }}

        </div>
    </div>
    </form>
</div>
</div>

{% endblock %}