{% extends "layout.html" %}
{% block header %}
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
{% endblock %}

{% block content %}
<title>My Page Title</title>
  <link rel="icon" type="image/x-icon" href="C:\Users\Alwin Glifferd D\Downloads\images.jpg">
<div class="landing"> 
    <div class="lines">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
<div class="loader">
    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/b6e0b072897469.5bf6e79950d23.gif" alt="load"></img>
</div>
      
<div class="img">
    <img src='https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_960_720.jpg' style="height:100%;width:100%;"></img>
</div>    
<nav>
    <div class="theme-switch-wrapper">
         <label class="theme-switch" for="checkbox">
      <input type="checkbox" id="checkbox" />
      <div class="slider round"></div>
    </label>
      <em>Enable Dark Mode!</em>
    </div>
  
  </nav> 
<h1>VOYAGER</h1>
<h2>The First Indian Commercial Spaceflight Company</h2>
     <div class="custom-shape-divider-bottom-1621526916">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
    </div>
    </div>

    <div class="sm:flex items-center max-w-screen-xl">
        <div class="sm:w-1/2 p-10">
                <div class="image object-center text-center">
                  <img src="https://i.ibb.co/YQ18xK8/about-us.png" alt="">
                </div>
        </div>
        <div class="sm:w-1/2 p-5">
            <div class="text">
                <span class="text-gray-500 border-b-2 border-indigo-600 uppercase">About us</span>
                <h2 class="my-4 font-bold text-3xl  sm:text-4xl ">About <span class="text-indigo-600">Our Voyager</span></h2>
                <!-- <p class="text-gray-700">We will start off by an <b>Intro</b> :</p> -->
                <br>
                <p class="text-gray-700">Since 2021,Voyager has established itself as a unique project. Serving
                    the efforts of <b>NASA and SpaceX</b>towards helping humanity's multi-planetary Presence. They are looking
                    for 50 volunteers who would be aboardthe next starship to Mars-the first one for tourism.
                    NASA needs volunteers from all over the world for this highly selective and historic mission, and thus they 
                    need a robust platform through which they can connect with the applicants.
                </p>
                <!-- <p class="text-gray-700">The efforts of NASA and SpaceX have successfully helped humanity establish a 
                    multi-planetary presence. NASA's scientists have now agreed to <b>open the planet</b> for the public 
                    of Earth, and they are looking for 50 volunteers who would be aboard the next spaceflight to 
                    Mars—the first <b>one</b> for tourism. NASA expects volunteers from all over the world to apply 
                    for this highly selective and historic mission, and thus they want a robust platform through which 
                    they can connect with the applicants.</p> -->
                <br>
                <p class="text-gray-700">This is where we come into the scene. "<b>The Voyager</b>" has been formed
                    to complete this volunteer recruitment mission. We were formed as a part of the treaty of 
                    <b>Space Poggers</b> held between all the major countries and major space institutions dated <b>2 may 21</b>. 
                </p>  
<!--                 <h2 class="my-4 font-bold text-3xl  sm:text-4xl ">People</h2>
                <ul>pulkit handa   : Founder</ul>
                <ul>Divyateja04    : Most contribution </ul>
                <ul>Abhijit Mishra : Content creator </ul> -->
            </div>
        </div>
    </div>


    <div class="center" id="video_gallery">
        <div class="stage">
            
            <h2 class="font-bold sm:text-4xl text-center"> About <span class="text-indigo-600"> Our Videos</span></h2>
            <!-- You can easily integrate Youtube videos using iframes -->
            <div class="ring_container">
            <div class="ring">
                <div class="ring_img">
                    <iframe width="300" height="250" src="https://www.youtube.com/embed/job1LqcUPRA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="ring_img">
                    <iframe width="300" height="250" src="https://www.youtube.com/embed/JSAj91cU9-8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="ring_img">
                    <iframe width="300" height="250" src="https://www.youtube.com/embed/Y_plhk1FUQA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="ring_img">
                    <iframe width="300" height="250" src="https://www.youtube.com/embed/MFSawk8oLTU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="ring_img">
                    <iframe width="300" height="250" src="https://www.youtube.com/embed/IN1KJ8LYW3U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="ring_img">
                    <iframe width="300" height="250" src="https://www.youtube.com/embed/yDiD8F9ItX0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="ring_img">
                    <iframe width="300" height="250" src="https://www.youtube.com/embed/lM_HPAXwJFw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="ring_img">
                    <iframe width="300" height="250" src="https://www.youtube.com/embed/tZIt9EHbtgk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="ring_img">
                    <iframe width="300" height="250" src="https://www.youtube.com/embed/YIAwP3EGong" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="ring_img">
                    <iframe width="300" height="250" src="https://www.youtube.com/embed/06-Xm3_Ze1o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            </div>
            
        </div>
    </div>
        

    <div class="center sm: p-10">
        <button class="fancy">
          <span class="top-key"></span>
          <a href="{{url_for("admin_user")}}">See Responses</a>
          <span class="bottom-key-1"></span>
          <span class="bottom-key-2"></span>
        </button>
        </div>
  </div>

    <br><br>
    <div class="footer-dark">
        <footer>
            <div class="bscontainer">
                <div class="bsrow">
                    <div class="bscol-md-2 item">
                        <h3>Pages:</h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Register</a></li>
                        </ul>
                    </div>
                    <div class="bscol-md-2 item">
                        <h3>Know More:</h3>
                        <ul>
                            <li><a href="#">Procedure to join</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="bscol-md-2 item">
                        <h3>Other Details:</h3>
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <!-- <li><a href="#">Careers</a></li> -->
                        </ul>
                    </div>
                    <div class="bscol-md-6 item text">
                        <h3>Voyager:</h3>
                        <p>We have been formed to complete a volunteer recruitment mission as a part of the treaty of Space Poggers held between all the major countries and major space institutions dated 02 May 2021.</p>
                    </div>
                    <div class="social_links">
                        <a href="#">
                            <span class="fa-stack fa-lg ig combo">
                                <i class="fa fa-circle fa-stack-2x circle"></i>
                                <i class="fa fa-instagram fa-stack-1x fa-inverse icon"></i>
                              </span>
                        </a>
                        <a href="#">
                            <span class="fa-stack fa-lg fb combo">
                                <i class="fa fa-circle fa-stack-2x circle"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse icon"></i>
                              </span>
                        </a>
                        <a href="https://www.youtube.com/channel/UC0wC5-u-M2OezLDtga5COww">
                            <span class="fa-stack fa-lg yt combo">
                                <i class="fa fa-circle fa-stack-2x circle"></i>
                                <i class="fa fa-youtube-play fa-stack-1x fa-inverse icon"></i>
                              </span>
                        </a>
                        <a href="#">
                            <span class="fa-stack fa-lg tw combo">
                                <i class="fa fa-circle fa-stack-2x circle"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse icon"></i>
                            </span>
                        </a>
                        <a href="https://codepen.io/pulkitchamp">
                            <span class="fa-stack fa-lg gt combo">
                                <i class="fa fa-circle fa-stack-2x circle"></i>
                                <i class="fa fa-codepen fa-stack-1x fa-inverse icon"></i>
                            </span>
                        </a>
                        <a href="https://www.linkedin.com/in/pulkit-handa-2286721aa/">
                            <span class="fa-stack fa-lg tw combo">
                                <i class="fa fa-circle fa-stack-2x circle"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse icon"></i>
                            </span>
                        </a>
                    </div>
                </div>
                <p class="copyright">Voyager © 2021</p>
            </div>
        </footer>
    </div>



    <script src="{{url_for('static', filename='main.js')}}"></script>

{% endblock content %}
