{% extends "layout.html" %}
{% block content %}

<div class="backof">
<div class="main-class">
    <div class="containerp">
      <div class="box">
        <div class="content">
          <img src="https://img.icons8.com/carbon-copy/2x/1-c.png" alt="">
          <p> The First step that comes for recruitment is the criterias </p>
          <p> Minimum Age- Above 20 & Experience- Some experience related to space </p>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <img src="https://img.icons8.com/carbon-copy/2x/2-c.png" alt="">
          <p> The Second step taken into consideration is your management skills </p>
          <p> As anything can happen at any given moment so you are on your own </p>
        </div>
      </div>
      <div class="box">
        <div class="content">
          <img src="https://img.icons8.com/carbon-copy/2x/3.png" alt="">
          <p> The Third step taken into consideration is that you have to pass a test </p>
          <p> The test would be at our space centre and details would be given after application </p>
        </div>
      </div>
    </div>
    </div>

{% endblock content %}