{% extends "layout.html" %}
{% block content %}
<div class="wrapper">
    <h1>Our Team </h1>
    <div class = "team">

    <div class="team_member">
        <div class="team_image">
            <img src="../static/pics/P1.png" alt="team_member_image">
        </div>
        <h3>Name Name</h3>
        <p class ="role">ROLE ROLE</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis qui assumenda officiis alias nulla fugit veniam sint, dolor praesentium minus corporis ipsum suscipit iste. Ut, fuga eligendi voluptate sapiente itaque veritatis laborum, exercitationem doloremque modi fugit ipsa voluptas similique aut porro culpa repellendus quod doloribus at accusamus enim. Tempora, blanditiis?</p>
    </div>
    <div class="team_member">
        <div class="team_image">
            <img src="../static/pics/P1.png" alt="team_member_image">
        </div>
        <h3>Name Name</h3>
        <p class ="role">ROLE ROLE</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis qui assumenda officiis alias nulla fugit veniam sint, dolor praesentium minus corporis ipsum suscipit iste. Ut, fuga eligendi voluptate sapiente itaque veritatis laborum, exercitationem doloremque modi fugit ipsa voluptas similique aut porro culpa repellendus quod doloribus at accusamus enim. Tempora, blanditiis?</p>
    </div>
    <div class="team_member">
        <div class="team_image">
            <img src="../static/pics/P1.png" alt="team_member_image">
        </div>
        <h3>Name Name</h3>
        <p class ="role">ROLE ROLE</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis qui assumenda officiis alias nulla fugit veniam sint, dolor praesentium minus corporis ipsum suscipit iste. Ut, fuga eligendi voluptate sapiente itaque veritatis laborum, exercitationem doloremque modi fugit ipsa voluptas similique aut porro culpa repellendus quod doloribus at accusamus enim. Tempora, blanditiis?</p>
    </div>

</div>
</div>

{% endblock content %}